<div class="row">
    <div class="container clientbox">
        <h2 class="special-underline">Our Clients</h2>
        <div style="margin-top: 40px;">
            <div class="client">
                <div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 placeholder">
                    <div class="rounder">
                        <img src="app/images/Bharti_Airtel_Limited.png">
                    </div>
                </div>
            </div>
            <div class="client">
                <div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 placeholder">
                    <div class="rounder">
                        <img src="app/images/L&T.png">
                    </div>
                </div>
            </div>
            <div class="client">
                <div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 placeholder">
                    <div class="rounder">
                        <img src="app/images/Tata_docomo_logo2.png">
                    </div>
                </div>
            </div>
            <div class="client">
                <div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 placeholder">
                    <div class="rounder">
                        <img src="app/images/ideaLogo.jpg" style="background-color: #ffec00">
                    </div>
                </div>
            </div>
            <div class="client">
                <div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 placeholder">
                    <div class="rounder">
                        <img src="app/images/asianpaints.png">
                    </div>
                </div>
            </div>
            <div class="client">
                <div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 placeholder">
                    <div class="rounder">
                        <img src="app/images/logo_arrow.png" style="background-color: #0C0B0B">
                    </div>
                </div>
            </div>
            <div class="client">
                <div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 placeholder">
                    <div class="rounder">
                        <img src="app/images/logo_only.png">
                    </div>
                </div>
            </div>
            <div class="client">
                <div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 placeholder">
                    <div class="rounder">
                        <img src="app/images/logo_veromoda.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>