<div class="black-bg">
    <div class="container">
        <div class="row">
            <div class="priorities">
                <div class="col-md-6 priority-text">
                    <h2 class="special-underline">Contact Us</h2>
                    <h4>Mumbai Office</h4>
                    <hr>
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Address:
                        <span>test</span>
                    </div>
                    <div>
                        <i class="fa fa-mobile" aria-hidden="true"></i> Phone:
                        <span>    +************ </span>
                    </div>
                    <div>
                        <i class="fa fa-envelope" aria-hidden="true"></i> Email:
                        <span>     test@example.com</span>
                    </div>
                </div>
                <div class="col-md-6 m-t-sm">
                    <div class="priority-background">
                        <img src="app/images/map.png" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
