<div class="container">
	<div class="row m-t-lg">
		<h2 class="special-underline">Photo Gallery</h2>
			<div class="col-md-4">
				
					<div class="galleryimg">
						<img src="app/images/gallery1.jpg" class="img-responsive">
					</div>
				
			</div>
			<div class="col-md-4">
				
					<div class="galleryimg">
						<img src="app/images/gallery2.jpg" class="img-responsive">
					</div>
				
			</div>
			<div class="col-md-4">
				
					<div class="galleryimg">
						<img src="app/images/gallery3.jpg" class="img-responsive">
					</div>
				
			</div>
			<div class="col-md-4">
				
					<div class="galleryimg">
						<img src="app/images/gallery4.jpg" class="img-responsive">
					</div>
				
			</div>
			<div class="col-md-4">
				
					<div class="galleryimg">
						<img src="app/images/gallery5.jpg" class="img-responsive">
					</div>
				
			</div>
			<div class="col-md-4">
				
					<div class="galleryimg">
						<img src="app/images/gallery6.jpg" class="img-responsive">
					</div>
				
			</div>
			<div class="col-md-4">
				
					<div class="galleryimg">
						<img src="app/images/gallery9.jpg" class="img-responsive">
					</div>
				
			</div>
			<div class="col-md-4">
				
					<div class="galleryimg">
						<img src="app/images/gallery8.jpg" class="img-responsive">
					</div>
				
			</div>
			<div class="col-md-4">
				
					<div class="galleryimg">
						<img src="app/images/gallery10.jpg" class="img-responsive">
					</div>
				
			</div>
	</div>
</div>