<div id="carousel">
</div>
<div class="row">
    <div class="col-md-12 main-heading text-center">
        <span class="main-title">VAMA provides turnkey solutions for all your construction needs</span>
    </div>
</div>
<div id="services"></div>
<div id="perfection">
    <div class="row black-bg">
        <div class="container priorities">
            <div class="col-sm-7 priority-text">
                <h2 class="special-underline">WHO WE ARE</h2>
                <p class="">VAMA is a young, dynamic, aggressive and diversified Indian conglomerate with a presence in complementing and well synergized businesses. Our focus is on Realties, Interior decoration, property acquisition, negotiation of legal and commercial terms and conditions ,re location and much more, actually total property solutions across Mumbai, Maharashtra, Goa,MPCG and Gujrat.</p>
                <p class="">The intensified growth underlines, our commitment to quality, trust and sensitivity, and delivering on our promise with agility and financial prudence.
                </p>
                <div class="col-sm-6">
                    <div class="our-priorities">
                        <a><i class="fa fa-building-o"></i></a>
                        <h2>Construction</h2>
                        <span>Homes,warehouses and more!</span>
                    </div>
                    <div class="our-priorities">
                        <a><i class="fa fa-university"></i></a>
                        <h2>Maintanance</h2>
                        <span>Electriticy,Interior decoration...</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="our-priorities">
                        <a><i class="fa fa-map"></i></a>
                        <h2>Great Designs</h2>
                        <span>State of art architecture</span>
                    </div>
                    <div class="our-priorities">
                        <a><i class="fa fa-users"></i></a>
                        <h2>Dedicated Team</h2>
                        <span>Passionate,hardworking and more</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 m-t-sm priority-image">
                <div class="container priority-background">
                    <img class="img-responsive" src="app/images/house_img.jpg" style="height: 425px;">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="team"></div>
<div id="client"></div>
<div id="keyproject"></div>
<div id="photogallery"></div>
<div id="contact"></div>
