<div class="container clearfix">
    <nav class="navbar navbar-default navbar-fixed-top ">
        <header class="nav-down contact-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <ul class="contact-nav">
                            <li>
                                <i class="fa fa-phone"></i> Contact:
                                <span> +**-****-***-***</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i> Email us:
                                <span>test@example.com</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="contact-symbols">
                            <!-- <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li class="instagram"><a href="https://twitter.com/"><i class="fa fa-instagram"> </i></a></li>
                            <li class="google"><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </nav>
</div>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top nav-main nav-main-down">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <img src="app/images/brand_image.png" class="logo" />
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                <ul class="nav navbar-nav menu">
                    <li class=""><a href="#services">Services</a></li>
                    <li><a href="#perfection">About Us</a></li>
                    <li><a href="#team">Our Team</a></li>
                    <li><a href="#client">Our Clients</a></li>
                    <li><a href="#keyproject">Key Project</a></li>
                    <li><a href="#photogallery">Photo Gallery</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
