<div class="container">
    <div class="row m-t-lg">
        <div class="col-sm-6 col-md-3">
            <div class="about-card">
                <img src="app/images/Electrical.jpg" class="img-responsive">
                <div class="about-content">
                    <h2>Electrical</h2>
                    <a data-heading="electrical" class="serviceread">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="about-card">
                <img src="app/images/HomeFurnishing.jpg" class="img-responsive">
                <div class="about-content">
                    <h2>Home Decoration</h2>
                    <a data-heading="homedecorarion" class="serviceread">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="about-card">
                <img src="app/images/Carpenter.jpg" class="img-responsive">
                <div class="about-content">
                    <h2>Carpentry</h2>
                    <a data-heading="carpentry" class="serviceread">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="about-card">
                <img src="app/images/InteriorDecorator.jpg" class="img-responsive">
                <div class="about-content">
                    <h2>Interior Decoration</h2>
                    <a data-heading="interiordecoration" class="serviceread">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-t-lg black-bg animated showonclickinfo1" style="display: none;">
    <div class="container priorities">
        <div class="col-sm-6">
            <div class="container priority-background">
                <img class="img-responsive serviceimage" style="height: 425px;width: 525px;">
            </div>
        </div>
        <div class="col-sm-6">
            <h2 class="special-underline serviceheading">
            </h2>
            <p class="serviceinfo">
            </p>
            <!-- <div class="col-sm-6">
                <div class="our-priorities">
                    <a href="#"><i class="fa fa-building-o"></i></a>
                    <h2>Construction</h2>
                    <span>Homes,warehouses and more!</span>
                </div>
                <div class="our-priorities">
                    <a href="#"><i class="fa fa-university"></i></a>
                    <h2>Maintanance</h2>
                    <span>Electriticy,Interior decoration...</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="our-priorities">
                    <a href="#"><i class="fa fa-map"></i></a>
                    <h2>Great Designs</h2>
                    <span>Start of the art architecture</span>
                </div>
                <div class="our-priorities">
                    <a href="#"><i class="fa fa-users"></i></a>
                    <h2>Dedicated Team</h2>
                    <span>Passionate,hardworking and more</span>
                </div>
            </div> -->
        </div>
    </div>
</div>
<div class="container">
    <div class="row m-t-lg">
        <div class="col-sm-6 col-md-3">
            <div class="about-card">
                <img src="app/images/Painting.jpg" class="img-responsive">
                <div class="about-content">
                    <h2>Painting</h2>
                    <a data-heading="painting" class="serviceread2">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="about-card">
                <img src="app/images/itsolution.jpg" class="img-responsive">
                <div class="about-content">
                    <h2>IT Solutions </h2>
                    <a data-heading="itsolution" class="serviceread2">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="about-card">
                <img src="app/images/img7.jpg" class="img-responsive">
                <div class="about-content">
                    <h2>Bungalows</h2>
                    <a data-heading="bungalow" class="serviceread2">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="about-card">
                <img src="app/images/img8.jpg" class="img-responsive">
                <div class="about-content">
                    <h2>Multiplex</h2>
                    <a data-heading="multiplex" class="serviceread2">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-t-lg black-bg animated showonclickinfo2" style="display: none;">
    <div class="container priorities">
        <div class="col-sm-6">
            <div class="container priority-background">
                <img class="img-responsive serviceimage2">
            </div>
        </div>
        <div class="col-sm-6">
            <h2 class="special-underline serviceheading2">
            </h2>
            <p class="serviceinfo2">
            </p>
            <!-- <div class="col-sm-6">
                <div class="our-priorities">
                    <a href="#"><i class="fa fa-building-o"></i></a>
                    <h2>Construction</h2>
                    <span>Homes,warehouses and more!</span>
                </div>
                <div class="our-priorities">
                    <a href="#"><i class="fa fa-university"></i></a>
                    <h2>Maintanance</h2>
                    <span>Electriticy,Interior decoration...</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="our-priorities">
                    <a href="#"><i class="fa fa-map"></i></a>
                    <h2>Great Designs</h2>
                    <span>Start of the art architecture</span>
                </div>
                <div class="our-priorities">
                    <a href="#"><i class="fa fa-users"></i></a>
                    <h2>Dedicated Team</h2>
                    <span>Passionate,hardworking and more</span>
                </div>
            </div> -->
        </div>
    </div>
</div>
