<div class="row m-t-lg m-b-lg team">
    <div class="container">
        <h2 class="special-underline">Our Dedicated Professionals</h2>
        <div class="row m-t-sm">
            <div class="col-sm-12 col-md-4 card">
                <!-- <div class="col-sm-6 card-image-wrap text-center" style="display: table;">
                    <i class="fa" style="font-size: 125px;font-weight: bold;display: table-cell;justify-content: center;vertical-align: middle;">S</i>
                </div> -->
                <div class="col-sm-12 card-text-wrap">
                    <div class="card-title">
                        <h2>Samir Thakkar</h2>
                        <h4><small>CEO and Founder</small></h4>
                    </div>
                    <hr>
                    <div class="card-content">
                        Focused On Business Development, Client Servicing And The Overall Growth Of The Company In-Line With Changing Market Trends And New Technological Advancements In The Field Of Design And Construction.
                    </div>
                    <div class="card-footer m-t-xs">
                        <ul class="contact-symbols">
                            <!-- <li class="facebook"><a href="https://www.facebook.com/samir.thakkar.10?fref=ts"><i class="fa fa-facebook"></i></a></li>
                            <li class="mail"><a href="mailto:samir_thakkar@yahoo.com"><i class="fa fa-envelope-o"></i></a></li>
                            <li class="instagram"><a href="https://twitter.com/"><i class="fa fa-instagram"> </i></a></li>
                            <li class="google"><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                            <li class="pinterest"><a><i class="fa fa-pinterest"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12  col-md-4 card">
               <!--  <div class="col-sm-6 card-image-wrap text-center" style="display: table;">
                    <i class="fa fa-bold" style="font-size: 100px;display: table-cell;justify-content: center;vertical-align: middle;"></i>
                </div> -->
                <div class="col-sm-12 card-text-wrap">
                    <div class="card-title">
                        <h2>Bhavesh Bhatt</h2>
                        <h4><small>COO</small></h4>
                    </div>
                    <hr>
                    <div class="card-content">
                        Having Area Wise Knowledge Of Labour Laws, Compliance, Finance & Retail Industry. Responsible For Design Conceptualization, Site-Specific Detail Design Solutions To All The Projects.
                    </div>
                    <div class="card-footer m-t-xs">
                        <ul class="contact-symbols">
                            <!-- <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li class="instagram"><a href="https://twitter.com/"><i class="fa fa-instagram"> </i></a></li>
                            <li class="google"><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                            <li class="pinterest"><a><i class="fa fa-pinterest"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 card">
                <!-- <div class="col-sm-6 card-image-wrap text-center" style="display: table;">
                    <i class="fa" style="font-size: 125px;font-weight: bold;display: table-cell;justify-content: center;vertical-align: middle;">S</i>
                </div> -->
                <div class="col-sm-12 card-text-wrap">
                    <div class="card-title">
                        <h2>Sunit Thakkar</h2>
                        <h4><small>CFO</small></h4>
                    </div>
                    <hr>
                    <div class="card-content">
                        Carrying Out Responsibilities Of Financial Management, Back End Processing & Administration Of Company, His Other Responsibility Is Looking After The Clearing, Forwarding And Logistics Business For Arvind Lifestyle Brands Ltd
                    </div>
                    <div class="card-footer m-t-xs">
                        <ul class="contact-symbols">
                            <!-- <li class="facebook"><a href="https://www.facebook.com/samir.thakkar.10?fref=ts"><i class="fa fa-facebook"></i></a></li>
                            <li class="mail"><a href="mailto:samir_thakkar@yahoo.com"><i class="fa fa-envelope-o"></i></a></li>
                            <li class="instagram"><a href="https://twitter.com/"><i class="fa fa-instagram"> </i></a></li>
                            <li class="google"><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                            <li class="pinterest"><a><i class="fa fa-pinterest"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row m-t-sm">
            <div class="col-sm-6 card">
                <div class="col-sm-6 card-image-wrap">
                    <img src="app/images/tushar.png" class="img-responsive" style="margin:auto;padding: 5px;height: 300px;">
                </div>
                <div class="col-sm-6 card-text-wrap">
                    <div class="card-title">
                        <h2>Tushar Thakkar</h2>
                        <h4><small>NETWORK ENGINEER</small></h4>
                    </div>
                    <hr>
                    <div class="card-content">
                        Has Spent Two Year IT And Currently Freelances As A Network Architech And Designer At Last 3 Year In VAMA.
                    </div>
                    <div class="card-footer m-t-xs">
                        <ul class="contact-symbols">
                            <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li class="instagram"><a href="https://twitter.com/"><i class="fa fa-instagram"> </i></a></li>
                            <li class="google"><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                            <li class="pinterest"><a><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 card">
                <div class="col-sm-6 card-image-wrap">
                    <img src="app/images/naresh.jpg" class="img-responsive" style="margin:auto;padding: 5px;height: 300px;">
                </div>
                <div class="col-sm-6 card-text-wrap">
                    <div class="card-title">
                        <h2>Naresh Sudhar</h2>
                        <h4><small>DIRECTOR FINANCE</small></h4>
                    </div>
                    <hr>
                    <div class="card-content">
                        Supervises The Work Place In Terms Of Safety, Needs And Management Of Other Workers.
                    </div>
                    <div class="card-footer m-t-xs">
                        <ul class="contact-symbols">
                            <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li class="instagram"><a href="https://twitter.com/"><i class="fa fa-instagram"> </i></a></li>
                            <li class="google"><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                            <li class="pinterest"><a><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
